/**
 * ICTSkills 2022 — Trade 17 — Web Technologies
 *
 * HTML/CSS — Task 1 — CSS Selector
 *
 * Your task is to expand all CSS Selectors marked with @todo.
 * You are not allowed to add additional Selectors.
 */

#task-0 .trash {
    background-color: green;
    border-color: green;
}

#task-1 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-2 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-3 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-4 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-5 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-6 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-7 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-8 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-9 /* @todo */ {
    background-color: green;
    border-color: green;
}

#task-10 /* @todo */ {
    background-color: green;
    border-color: green;
}
