/**
 * ICTSkills 2022 — Trade 17 — Web Technologies
 *
 * HTML/CSS — Task 1 — CSS Selector
 *
 * Your task is to expand all CSS Selectors marked with @todo.
 * You are not allowed to add additional Selectors.
 */

#task-0 .trash {
    background-color: green;
    border-color: green;
}

#task-1 img:last-child {
    background-color: green;
    border-color: green;
}

#task-2 .trash {
    background-color: green;
    border-color: green;
}

#task-3 img[data-trash] {
    background-color: green;
    border-color: green;
}

#task-4 div img:first-child {
    background-color: green;
    border-color: green;
}

#task-5 .patch img:first-child:not(img[src="assets/icons/turtle.svg"]):not(img[src="assets/icons/fish.svg"]) {
    background-color: green;
    border-color: green;
}

#task-6 .patch + .patch .pink {
    background-color: green;
    border-color: green;
}

#task-7 img[class^="trash"] {
    background-color: green;
    border-color: green;
}

#task-8 .patch + .patch .pink + .pink:not(img[src="assets/icons/shrimp.svg"]) {
    background-color: green;
    border-color: green;
}

#task-9 .patch + .patch + .patch img:not(img[src="assets/icons/turtle.svg"]):not(img[src="assets/icons/otter.svg"]) {
    background-color: green;
    border-color: green;
}

#task-10 img:not(img[src="assets/icons/whale.svg"]):not(img[src="assets/icons/dolphin.svg"]):not(img[src="assets/icons/turtle.svg"]) {
    background-color: green;
    border-color: green;
}
